.order__wrapper{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    min-height: 100vh;
    
}

.order__title {
    margin-bottom: 30px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        background-color: #AC3D67;
    color: #fff;
    font-size: 18px;
    transition: all 0.2s;
    border: 1px solid #AC3D67;
    border-radius: 10px;
    padding: 8px 18px;
    width: 90%;
    max-width: 250px;
    cursor: pointer;
    &:hover{
        background-color: #772544;
    }
    }
  }

  .order__button{
    padding: 20px 0;
  }

  .order__good-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px;
   margin-bottom: 10px;
   span{
    font-size: 16px;
    min-width: 60px;
}

   div{
    width: 80%;
    // max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    // span{
    //     font-size: 16px;
    // }
   }

  }

  @media(max-width: 768px) {
    .order__title{
      padding: 10px;
    }
  }